/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    color: #2D2D2D;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    padding: 0 50px;
}


.header-logo {
    width: 49px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
}

.header-list li {
    list-style: none;
    font-size: 17px;
    font-weight: 400;
}

.header-list{
    display: flex;
    gap: 50px;
}

.heading {
    display: flex;
    flex-wrap: nowrap;
    gap: 28px;
    padding: 100px;
    justify-content: space-between;
}

.heading-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.heading-brand h2 {
    font-size: 20px;
    font-weight: 600;
}

.heading-brand p {
    font-size: 17px;
    font-weight: 400;
}

.heading-brand h1{
    font-size: 80px;
    width: 557px;
    height: 180px;
}
.image {
    display: flex;
}

.brand-img {
    width: 495px;
    height: 424px;
}

.logo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 166.83px;
    border-top: 2px solid #00000033;
    border-bottom: 2px solid #00000033;
    padding: 0 60px;
}

.logo-img {
    height: 34px;
    width: auto;
 }

.apple {
    height: 46.83px;
}

.skill-section {
    display: flex;
    padding: 180px 140.15px;
    gap: 125px;
}

.skill-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 56px;
}

.img {
    width: 130px;
    height: 130px;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    text-align: center;
}

.headline h2 {
    font-size: 27px;
    font-weight: 600;
}

.headline p {
    font-size: 17px;
    font-weight: 400;
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.work-section {
    padding: 20px 100px;
    width: 100%;
    height: 1016px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.work-card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-card-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.work-card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-card-content h3 {
    font-size: 20px;
    font-weight: 600;
}

.work-card-content p {
    font-size: 17px;
    font-weight: 400;
}

.work-card-img {
    width: 315px;
    height: 315px;
}

.client-section {
    width: 100%;
    padding: 100px 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.client-list {
    display: flex;
    gap: 67.5px;
}

.client-item {
    padding: 30px 22px 30px 30px;
    width: 315px;
    height: 344px;
    background-color: #FFFCF5;
    border: 1.5px solid #FFD285;
}
.client-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.client-card {
    width: 263px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.client-avatar {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-radius: 100px;
}
.client-rate {
    display: flex;
    gap: 20px;
}
.client-rate-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.client-name {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}